:root {
	--main-bg-color:	#ea3546;
	--main-txt-color:	#f1edee;
	--backdrop:		#e2e2e2;
}

body{
	line-height:		1.6;
	font-size:		18px;
	color:			#444;
	padding:		10px;
	background:		var(--backdrop);
}
h1{
	background:		var(--main-bg-color);
	color:			var(--main-txt-color);
}
.centered_float{
	float:			right;
	position:		absolute;
	top:			20%;
	right:			50%;
}
.centered_float > .child {
	border-radius:		10px 10px 5px 5px;
	background:		var(--main-bg-color);
	padding:		20px 10px;
	position: relative;
	left: 50%;
	font-size:		20px;
	color:			var(--main-txt-color);
}

#tutorialButton{
	position:		relative;
	float:			right;
	bottom:			15px;
}

div#UI{
	width:			1190px;
	float:			right;
}
div#sketch{
	padding:		0px 20px 0px 0px;
	float:			left;
	width:			595px;
}
input#slider{
	width:			55%;
}
div#checkboxDiv{
	float:			left;
	padding:		0px 30px 0px 0px;
}
div#tikzDiv{
	left:			605px;
	padding:		10px;
	border-style:		solid;
	overflow-y:		auto;
	height:			788px;
}
div#nodeSettings{
	border-radius:		10px 10px 5px 5px;
	background:		#ff0000;
	padding:		20px 10px;
	position:		absolute;
	right:			18px;
	top:			90px;
}
.nodeSetting{
	height:			30px;
	width:			250px;
	display:		block;
}
